<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Huellas de Esperanza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HuellasDeEsperanza.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav id="barra_de_navegacion" class="container-fluid">
        <img src="~/images/logoHuellasEsperanza.png" alt="Logo" id="logo">
        <h1 class="m-0">
            <a asp-controller="Home" asp-action="Index">HUELLAS DE ESPERANZA 🐾</a>
        </h1>
    </nav>
</header>

<div class="container my-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="text-light">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md-3">
                    <h5>ESTEMOS EN CONTACTO</h5>
                    <div class="fs-2 d-flex justify-content-center gap-3">
                        <a href="https://www.facebook.com" target="_blank" class="text-light"><i class="fab fa-facebook" id="facebook"></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="text-light"><i class="fab fa-instagram" id="instagram"></i></a>
                        <a href="https://wa.me/1234567890" target="_blank" class="text-light"><i class="fab fa-whatsapp" id="whatsapp"></i></a>
                        <a href="mailto:info@refugio.org" class="text-light"><i class="far fa-envelope" id="mail"></i></a>
                    </div>
                </div>

                <div class="col-md-9">
                    <h5>SOBRE NOSOTROS </h5>
                    <p><b>Conocenos</b></p>
                    <p>Somos un refugio dedicado al rescate, cuidado y protección de animales en situación de abandono. Nuestro objetivo es brindarles una segunda oportunidad, ofreciéndoles un espacio seguro, atención veterinaria y mucho amor mientras esperan encontrar una familia definitiva.</p>
                    <p>Creemos en la adopción responsable y en el compromiso a largo plazo, por eso trabajamos para que cada mascota encuentre un hogar donde sea querida y respetada. Además, fomentamos la concientización sobre el cuidado animal y la importancia de la castración.</p>
                    <p>Gracias al apoyo de voluntarios y donaciones, seguimos creciendo día a día, ayudando a más perros y gatos a tener la vida que merecen.</p>
                </div>
            </div>
        </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

@RenderSection("Scripts", required: false)

</body>
</html>